.user.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-color: black;
    color: white;
    margin: 1rem 0rem;
}

.user-item{
    background-color: orange;
}